# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment
.env
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Video and temporary folders
*.mp4
video_temp/
temp_*/
